html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}

body{font-size:12px;-webkit-text-size-adjust: none}
a:link, a:hover, input:focus{outline:0 none}
a{text-decoration:none;color:#000}
a:hover{color:#f27B04;text-decoration:underline;}

.clearfix {clear:both}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden; zoom:1}


.loading{background:url(img/nloading.gif) no-repeat center}
.disabled {cursor: not-allowed}
.err-msg{color:#f00;margin-left:5px;}
.info_warining{padding:5px;border:1px solid #D91111;background:#FCFBE5;margin-bottom:20px;}
.info_success{padding:5px;border:1px solid #D91111;background:#FCFBE5;margin-bottom:20px;}
.info_warining p{font-weight:bold;margin-bottom:10px;}
.info_warining li{line-height:20px;color:#c00}
.block-error{padding:5px;border:1px solid #D91111;background:#FCFBE5;margin-bottom:20px;}
.block-error p{font-weight:bold;line-height:20px;color:#c00}


.cmp-dropdown{display:inline-block;position:relative;border:1px solid #e9e9e9;padding:3px 7px;z-index:1000}
.cmp-dropdown b{font-weight:normal;cursor:default}
.cmp-dropdown ul{position:absolute;width:100%; background: #fff;border: 1px solid #ccc;box-shadow: 0 1px 5px #ccc;display: none;left: -1px;top: 20px;z-index: 1}
.cmp-dropdown li{text-align:center;margin:0px!important;padding:0px!important;width:auto!important;height:auto!important;float:none!important;  border-top: 1px solid #EAE5E1;height: 24px;margin-top: -1px;overflow: hidden;padding:5px 0px;cursor:pointer}
.cmp-dropdown .ui-blk-d{cursor:pointer;margin-left:5px;background-position:-195px -750px;width:5px;height:3px;vertical-align:middle}
.cmp-dropdown li a{display:block;padding:2px}
.cmp-dropdown li a:hover{background:#f7f5f5}
.cmp-dropdown.hover{border:1px solid #ccc}


.ui-page-size {font-size:12px;font-family:'arial';margin-bottom:10px;text-align:right}
.ui-page-num a{border:1px solid #ddd;padding:3px 6px;display:inline-block;margin-right:5px}
.ui-page-num b{padding:3px 6px;display:inline-block;margin-right:5px;color:#c20013;border:1px solid #f2d4d4}
.ui-page-num a i{width:4px;height:7px;background-position:-196px -716px;margin-left:3px;margin-bottom:1px}
.ui-page-num a .ico-p-prev{background-position:-190px -716px;margin-left:0px;margin-right:3px}
.ui-page-num a:hover{border:1px solid #999\9;box-shadow:0px 0px 3px #ccc}


.search-panel-fields {
background: none repeat scroll 0 0 #d4d4d4;
border-radius: 0 0 0 3px;
float: left;
height: 39px;
position: relative;
width: 470px;
}

.search-panel-fields input {
background: none repeat scroll 0 0 #FFFFFF;
border: 0 none;
border-radius: 3px 0 0 0;
font-size: 14px;
height: 22px;
left: 3px;
line-height: 22px;
padding: 5px;
position: absolute;
top: 3px;
vertical-align: middle;
width: 457px;
}


.search-panel-fields s {
height: 13px;
left: 14px;
position: absolute;
top: 12px;
width: 12px;
	background:url(imgs/ico-q.png) no-repeat;
}

.search-triggers li {
float: left;
position: relative;
}
.search-box button {
background:url(imgs/search-btn.png) no-repeat;
border: 0 none;
color: #FFFFFF;
cursor: pointer;
float: left;
font-size: 18px;
height: 38px;
text-indent: -999em;
width: 135px;
}
.search-triggers li.selected a {
background: none repeat scroll 0 0 #d4d4d4;
border-radius: 3px 3px 0 0;
color: #000;
font-weight: bold;
padding: 0 20px;
}

.search-triggers li a {
float: left;
height: 30px;
line-height: 30px;
padding: 0 20px;
	font-size:14px;
}

.logo {
float: left;
height: 70px;
width: 354px;
}

.search-status-focus s{display:none;}

.layout {
margin: 0 auto;
width: 960px;
}

.head{margin-top:30px;position:relative;overflow:hidden;}


.m-top{height:35px;background:url(imgs/top_bg.jpg) repeat-x;text-align:right;line-height:35px;}
.m-top a{font-size:12px;}
.m-top p{display:inline;}
.m-top .user-info a{color:#31659f;margin-right:20px}
.m-top span{padding:0 5px}
.divide {
border-right: 1px dashed #DCDDDD;
margin-right: 26px;
padding-right: 1px;
}

.grid-290{width:290px;float:left;margin-right:10px;}
.grid-436{width:436px;float:left;margin-right:10px;}
.grid-210{width:210px;float:left}
.grid-660{width:660px;float:left;}
.grid-690{width:690px;float:left;margin-right:10px;}
.grid-250{width:250px;float:left;}
.grid-260{width:260px;float:left;}
.grid-960{width:960px;}
.lastdiv{border:0;}
.m-nav{margin-top: 25px;overflow: hidden;margin-bottom:15px;background:url(imgs/nav_bg.png) repeat-x;height:60px;}
.m-nav .bd{width:1100px;}
.m-nav .hd{background:#206e94;height:5px;margin:10px 0}
.m-nav a{font-size:12px;margin-right:11px;line-height:25px;color:#fff;}
.m-nav strong a{font-weight:bold;font-size:14px;}
.m-nav .nav-con{overflow:hidden;float:left;padding:4px 7px;position:relative;}
.m-nav .sp{position:absolute;right:0px;top:12px;height:38px;width:2px;display:block;background:url(imgs/nav_sp.png) no-repeat;}

.m-index-ad{width:358px;float:left;margin-right:20px;}
.m-index-ad .pic{position:relative;height: 275px;overflow: hidden;width: 358px;}

.m-supply-ad{width:290px;float:left;margin-right:20px;}
.m-supply-ad .pic{position:relative;height: 287px;overflow: hidden;width: 290px;}

.btns{text-align:center;margin-top:10px;}
.btns a{background:url(imgs/cbtn.jpg) no-repeat;display:inline-block;width:10px;height:10px;margin-right:10px;text-indent: -9999px;}
.btns a.on{background:url(imgs/cbtn_hover.jpg) no-repeat;}
.middle{width:313px;}
.left{width:358px;}
.right{width:251px}
.more{font-size: 14px; float:right;   line-height: 30px;margin-right: 5px;}
.m-tab-list,.m-quot,.m-case,.m-nous,.m-rcm{float:left;border-top: 2px solid #206F96;}

/*
filter:progid:DXImageTransform.Microsoft.Gradient(enabled=bEnabled,startColorStr=iWidth,endColorStr=iWidth) 

*/
.m-tab-list .hd,.m-quot .hd,.m-case .hd,.m-nous .hd,.m-rcm .hd{margin-bottom:20px;overflow:hidden;border-left: 1px solid #CFCFCF;background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(237, 237, 237)));background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -moz-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -o-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -ms-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background:#f7f7f7\9}

.m-tab-list .hd span,.m-case .hd span,.m-quot .hd span,.m-nous .hd span,.m-rcm .hd span{width:103px;height:30px;line-height:30px;border-right: 1px solid #CFCFCF; cursor: pointer;float: left;font-size: 14px;text-align: center;background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(237, 237, 237)));background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -moz-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -o-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -ms-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));}
.m-tab-list .hd span.on,.m-case .hd span.on,.m-quot .hd span.on,.m-nous .hd span.on,.m-rcm .hd span.on{background: none repeat scroll 0 0 #FFFFFF;height: 30px;position: relative;z-index: 1;}
.m-tab-list .hd span.on a,.m-case .hd span.on a,.m-quot .hd span.on a,.m-nous .hd span.on a,.m-rcm .hd span.on a{font-weight:bold;}
.m-tab-list .bd li,.m-nous .bd li,.m-case .bd li{line-height:25px;padding-left:10px;background:url(imgs/list-ico.png) no-repeat left center;position:relative;}
.m-tab-list .bd li em,.m-nous .bd li em,.m-case .bd li em{float:right;color:#999}
.m-tab-list .bd a{font-size:14px;}
.m-tab-list .bd .b a{font-weight:bold}
.m-tab-list .bd ul{display:none;}
.m-tab-list .bd .current{display:block;}

.newest-list {border:0px;margin-top:8px;}
.newest-list .hd{border:0;margin-bottom:10px;border-bottom:5px solid #044C82}
.newest-list .hd span.on{background:none;border:0;padding-left:10px;text-align:left;}

.col-left{float:left;width:358px;margin-right:20px;overflow:hidden;}
.col-right{float:left;width:584px;overflow:hidden;}

.layout-area{margin-top:20px;width:1000px;overflow:hidden;}
.layout-area .m-tab-list{margin-right:20px}
.layout-area .col-right{float:left}
.layout-area .layout-right{float:left;width:740px;}
.layout-area .layout-left{float:left;width:220px;margin-right:10px;}


#p_article_detail .layout-left{width:700px;}
#p_article_detail .layout-right{width:250px;}
#p_supplier_detail .layout-left{width:700px;}
#p_supplier_detail .layout-right{width:250px;}


.m-nous{width:584px;}
.m-nous .aside{width:50%;float:left;}
.m-nous .aside dt {
  height: 25px;
  padding: 0 10px 8px;
}
.m-nous .aside dt span {
  border-bottom: 1px solid #E8E8E8;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 24px;
  line-height: 26px;
  overflow: hidden;
  padding-left: 2px;
}
.m-nous .aside dt span div {
  background: none repeat scroll 0 center transparent;
  float: right;
  font-size: 13px;
  font-weight: lighter;
  line-height: 24px;
  padding-right: 0;
}
.m-nous .aside dt span a:link, .aside dt span a:hover, .aside dt span a:visited {
  color: #000000;
}
.m-nous .aside dd {
  padding: 0 12px 8px;
}
.uploader{width:300px;}
.uploader p{padding:5px 2px;}
.m-form .item{margin-bottom:10px;}
.home-special .bd a{font-size:12px;}
.home-special .bd em{color:#B0B0B0}
.home-xh{width:584px;}
.home-xh .bd li{width:47%;float:left;margin-right:5px;}
.fbs ul {
  background-image: url("imgs/fltj.gif");
  background-repeat: no-repeat;
  height: 89px;
  width: 608px;
}
.fbs ul li {
  float: left;
  height: 25px;
  margin-bottom: 7px;
  padding-left: 45px;
  padding-top: 15px;
  position: relative;
  text-align: left;
  width: 107px;
}
.fbs i{font-size:10px;font-style:normal}
.fbs ul li em {
  background-image: url("imgs/gc_ico.gif");
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}
.fbs ul li span {
  color: #004198;
}
.fbs ul li .gc02 {
  background-position: -41px 0;
}
.fbs ul li .gc03 {
  background-position: -82px 0;
}
.fbs ul li .gc04 {
  background-position: -123px 0;
}
.fbs ul li .gc05 {
  background-position: 0 -40px;
}
.fbs ul li .gc06 {
  background-position: -41px -40px;
}
.fbs ul li .gc07 {
  background-position: -82px -40px;
}
.fbs ul li .gc08 {
  background-position: -123px -40px;
}

.m-banner{margin-bottom:30px;}

.m-rcm{float:left;margin-right:20px;margin-top:20px;}
.m-rcm li{padding:10px 0 10px 3px;border-bottom:1px dashed #DCDDDD;overflow:hidden;height:20px;}
.m-rcm li.on{height:70px;background:#FFF8E5;border:1px solid #F3C857}
.m-rcm .last{border:0}
.m-rcm .img{width:93px;float:left;margin-right:20px;display:none;}
.m-rcm .on .img{display:block}
.m-rcm .info{float:left;}
.m-rcm .on .info{width:238px;}
.m-rcm .info{font-size:14px;}
.m-rcm .info a{font-weight:bold;color:#1f6e95}
.m-rcm .info p{margin-top:5px;display:none;}
.m-rcm .info .red{color:red;}
.m-rcm .on .info p{display:block;}
.m-rcm .hd span{padding:0 20px;text-align:center;float:left;height:30px;line-height:30px;}


.m-mid-ad{margin:10px 0}

.m-quot{width:584px;margin-bottom:10px;}
.m-quot .col-l{width:260px;float:left;margin-right:10px;}
.m-quot .col-r{float:left;width:310px;}
.m-quot .col-r li{line-height:20px;}
.m-quot .col-r .b{font-weight:bold;font-size:14px;margin-bottom:5px;}
.m-quot .b a{color:#e44d00;}
.m-quot .chart{margin-top:10px;}

.m-case{margin-right:20px;}



.m-brand a{display:inline-block;margin-right:5px;margin-bottom:5px;}

.m-link{border:1px solid #ccc;overflow:hidden;padding:1px;padding-bottom:10px;width:956px;}
.m-link .hd{background:url(imgs/link_bg.jpg) repeat-x;height:23px;line-height:23px;}
.m-link .hd span{background:#fff;margin-left: 5px;padding: 2px 5px;font-weight:bold;}
.m-link .hd p{display:inline;margin-left:20px}
.m-link .hd em{color:#084186}
.m-link .link-list a{margin:5px 10px 0;float:left}
.m-link .link-list a:hover{#f00;}


.m-footer{width:960px}
.m-footer .fa {margin-top: 10px;overflow: auto;	text-align:center}
.m-footer .fa a {background: url("imgs/authentication.gif") no-repeat scroll 0 0 transparent;display: inline-block;height: 48px;margin-right: 5px;overflow: hidden;width: 119px;}

.m-footer p{text-align:center;margin-bottom:10px;}
.m-footer .first{background:#ebebeb;height:30px;line-height:30px;}
.m-footer .fa1 {background-position: 0 0;}
.m-footer .fa2 {background-position: 0 -48px !important;}
.m-footer .fa3 {background-position: 0 -96px !important;}
.m-footer .fa4 {background-position: 0 -144px !important;}
.m-footer .fa5 {background-position: 0 -192px !important;}
.m-footer .fa6 {background-position: 0 -240px !important;}

/*m-qk-entry*/
.m-qk-entry{float:left}
.m-qk-entry .hd{height:48px;line-height:48px;}
.m-qk-entry .hd{border:1px solid #dedede;border-bottom:2px solid #206F96;border-right:0}
.m-qk-entry .hd span{width:62px;text-align:center;border-right:1px solid #dedede;height:48px;line-height:48px;float:left;padding:0 10px}
.m-qk-entry .hd span a{font-size:14px;font-weight:bold;color:#33727b;}
.m-qk-entry .hd span a:hover{color:#123145}
.m-qk-entry .bd{border:1px solid #dedede;background:url(imgs/qk-bg.png) repeat-x bottom #f6f6f6;padding:15px 10px;margin-top:10px;margin-bottom:10px;}
.m-qk-entry  li i{width:19px;height:18px;display:inline-block;margin-right:15px;vertical-align:middle}
.m-qk-entry  .bd li s{background:url(imgs/qk-s.png) no-repeat;width:2px;height:18px;display:inline-block;margin:0 20px;vertical-align:middle}
.m-qk-entry  .qk-1{background:url(imgs/qk-1.png) no-repeat}
.m-qk-entry  .qk-2{background:url(imgs/qk-2.png) no-repeat}
.m-qk-entry  .qk-3{background:url(imgs/qk-3.png) no-repeat}
.m-qk-entry  .qk-4{background:url(imgs/qk-4.png) no-repeat}
.m-qk-entry  .qk-5{background:url(imgs/qk-5.png) no-repeat}
.m-qk-entry  .qk-6{background:url(imgs/qk-6.png) no-repeat}
.m-qk-entry  li a{font-size:14px;display:inline-block}
.m-qk-entry  li{line-height:30px;margin-bottom:10px;position:relative;padding-bottom:5px}
.m-qk-entry  .qk-b{background:url(imgs/qk-b.png) no-repeat;width:230px;height:4px;display:inline-block;position:absolute;bottom:0px;left:0px;}
.m-qk-entry .ft a{display:inline-block;}
.m-qk-entry .last{margin:0px}
/*m-qk-entry*/





/*m-detail */
.m-detail .sellinfo .fr p.btn a.btn_lx {background: none repeat scroll 0 0 #eee;border: 1px solid #E1E1E1;}
.m-detail .sellinfo .fr p.btn a, .m-detail a.btn_free, .m-detail .vipinfo .btn a {border: 1px solid #C3C3C3;color: #333333;font: bold 14px/31px "微软雅黑";text-align: center;}
.m-detail .sellinfo .fr p.btn a, .m-detail a.btn_free, .m-detail .vipinfo .btn a {display: inline-block;height: 31px;margin-right: 10px;width: 100px;}
.m-detail a.btn_lx {background: none repeat scroll 0 0 #E24800 !important;border-color: #B70F0F !important;border-radius: 3px 3px 3px 3px;color: #FFFFFF !important;}
.m-detail .sellinfo .fr p.btn, .vipinfo {float: left;padding-top: 30px;}
.m-detail  img{display: block;height: 275px;overflow: hidden;width: 275px;}
.m-detail .img{width:300px;height:300px;}
.m-detail .sellinfo .fl {overflow: hidden;width: 300px;	float:left;}
.m-detail .sellinfo p{line-height:30px;display:block}
.m-detail .sellinfo {padding-bottom:20px;border-bottom:1px solid #ccc}
.m-detail .title {margin:20px 0px;}
.m-detail .orange{color: #FF6600; font: bold 16px/30px Arial,Helvetica,sans-serif;}
.m-detail .title strong, .m-detail .title h2 {float: left;font-size: 14px;font-weight: bold;}
.m-detail .btn_phone {background: none repeat scroll 0 0 #1B81DC !important;border-color: #0060B1 !important;border-radius: 3px;color: #fff !important;}
.m-detail .info{padding: 10px 0;line-height: 26px;}
.m-detail .proInfo {background-color: #F6F6F6;display: block;line-height: 2;overflow: hidden;padding: 10px 0;width: 100%;}
.m-detail .proInfo li {display: block;float: left;padding-left: 10px;width: 235px;}
.m-detail h1{font-size:16px;font-weight:bold;margin-bottom:10px;}
.m-detail .fl{float:left;margin-right:10px;}
.m-detail .fr{float:left;}
/*m-detail */

/*m-refinfo*/
.m-refinfo dt{background:#f3f3f3;line-height:30px;font-size:14px;}
.m-refinfo dl{border:1px solid #ccc;margin-bottom:10px;}
.m-refinfo dl.last{border:1px solid #ccc}
.m-refinfo dd{padding:10px;line-height:20px;}
.m-refinfo  li{line-height:22px;}
.m-refinfo  li a{color:#26709A}
.m-refinfo dt strong{font-weight:bold;padding-left:10px;}
.m-refinfo .input{border: 1px solid #ddd;color: #333;padding:3px;}
.m-refinfo .btn{background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(237, 237, 237)));background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -moz-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -o-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -ms-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background:#f7f7f7\9   border: 1px solid #003366;border:1px solid #ccc;padding:3px 5px;}
/*m-refinfo*/

/*m-rcm-list*/
.m-rcm-list{margin-bottom:10px;}
.m-rcm-list dt{background:#f3f3f3;line-height:30px;font-size:14px;}
.m-rcm-list dl{border:1px solid #ccc;border-bottom:0;}
.m-rcm-list dl.last{border:1px solid #ccc}
.m-rcm-list dd{padding:10px;line-height:20px;}
.m-rcm-list  li{line-height:22px;}
.m-rcm-list  li a{color:#26709A}
.m-rcm-list dt strong{font-weight:bold;padding-left:10px;}
/*m-article-rcm*/

.m-article-detail h1{padding-bottom: 16px;font-family: '微软雅黑';font-size: 26px;}
.m-article-detail .color-a-0 a {color: #2D96E9;}
.m-article-detail .tit-bar span {z-index: 2;}
.m-article-detail .tit-bar span {float: left;}
.m-article-detail .color-a-0 {padding-right: 7px;}
.m-article-detail div.tit-bar.clearfix.tit-bar {color: #666666;}
.m-article-detail .line{border-bottom: 1px dotted #dbdbdb;margin:10px 0px;}
.m-article-detail .content p,.m-article-detail .content {padding-bottom: 29px;font-size: 16px;line-height: 28px;}



/*m-supplier-detail*/
.m-supplier-detail{ border: 1px solid #C5C5C5;position: relative;}
.m-supplier-detail .msg_time {
background: url("imgs/msg_time.png") repeat scroll 0 0 transparent;
color: #908F8F;
height: 40px;
line-height: 40px;
padding: 0 20px;
}
.m-supplier-detail ul{overflow:auto}
.m-supplier-detail .cmp_info li {border-bottom: 1px solid #ECECED;float: left;height: 29px;line-height: 29px;margin-bottom: 20px; width: 480px;}
.m-supplier-detail .cmp_info span {background: none repeat scroll 0 0 #ECECED;color: #8E8E8E;display: inline-block;height: 29px;margin-right: 15px;text-align: center;width: 66px;}
.m-supplier-detail .cmp_info em {font-size: 14px;font-style: normal;margin-right: 5px;}
.m-supplier-detail .cmp_info .ci_li01 {width: 636px;}
.m-supplier-detail .cmp_info .ci_li {margin-right: 20px;width: 308px;}
.m-supplier-detail .cmp_info {margin: 20px;}
.m-supplier-detail .am_note {font-size: 14px;line-height: 28px;padding: 0 20px 20px;word-break: break-all;}
.m-supplier-detail .art_note {color: #FF0000;margin: 0 20px 10px;}

/*m-supplier-detail*/



/*user center*/
.layout{position:relative;}
.col-r{float:left;width:800px}

#mainFrame {height: 100%;width: 100%;z-index: 5;	position:absolute;}

.m-main-frame{ bottom: 0;left:140px;float:left;overflow: hidden;right: 0;top: 83px;z-index: 4;padding:20px;}
.m-left-panel{left:0;top: 83px;width: 138px;float:left;height:auto;bottom:0;border:1px solid #d5e5f5;margin-right:20px;background:url(imgs/menu_top_bg.png) repeat-x left top;}
.m-left-panel h3{font-size:14px;background:url(imgs/ico-1.png) no-repeat 10px center;padding-left:30px;margin:10px 0px;font-weight:bold;}
.m-left-panel h3.on{background-image:url(imgs/ico-2.png);}
.m-left-panel li a{font-size:12px;color:#2f7cb0;display:block;background:url(imgs/menu-ico-n.png) no-repeat 20px center;padding-left:30px;}
.m-left-panel li{line-height:30px;height:30px;position:relative;}
.m-left-panel li.on a,.m-left-panel li:hover a{color:#fe5900;}

.cmp-btn{background:url(imgs/btn_bg_1.gif) repeat-x bottom #fff;text-align:center;color:#000;height:20px;line-height:20px;display:inline-block;padding:0 10px;cursor:pointer;border:0;border-right:1px solid #676767;border-bottom:1px solid #676767}

.cmp-btn-a{background:#e8e8e8;text-align:center;color:#000;height:25px;line-height:25px;display:inline-block;padding:3px 10px;cursor:pointer;border:0;border-right:1px solid #676767;border-bottom:1px solid #676767}
.m-form .b-title{font-size:16px;font-weight:bold;padding-bottom:10px;border-bottom:1px solid #ccc}
.m-form td{padding:5px;}
.m-form .label{width:140px;text-align:right;font-size:14px;}
.m-form input{border:1px solid #ccc;padding:4px;}
.cmp-input{border:1px solid #ccc;width:155px;padding:4px;}
.cmp-text{border:1px solid #ccc;width:405px;}
.w245{width:245px}
.m-form .btn-blue{text-align:center;background:url(imgs/btn-blue.png) no-repeat;width:60px;height:21px;display:inline-block;border:0px;color:#395678;cursor:pointer;}
.m-form .msg{color:#afafb1;padding-left:10px;}
.btn-save{width:110px;height:35px;line-height:35px;font-weight:bold;font-size:14px;text-align:center;color:#fff;border:0;display:inline-block;background:url(imgs/btn_save.png) no-repeat;cursor:pointer}

.m-table-list .search,.m-table-list .btn-a{border:1px solid #cfcfcf;text-align:right;padding:4px 0;margin-bottom:10px;}
.repeatbg{background:url(imgs/repeatbg.gif) repeat-x bottom #fff;}
.m-table-list .cmp-btn{margin-right:5px;}
.table-list{border-left:1px solid #cfcfcf;border-top:1px solid #cfcfcf;}
.table-list th,.table-list td{padding:6px;border-right:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf;text-align:center;}
.table-list .even{background:#f5fafe}
.table-list td.td02{text-align:left;}
.m-table-list .btn-group{text-align:left;padding:5px;}
.m-table-list .btn-group a{margin-right:5px;}
.m-table-list .pager{padding:12px 0px;text-align:center;margin-top:10px;}
.m-table-list .pager a{margin-right:5px;}

.m-table-list .photo-hd{overflow:hidden;margin:10px 0;}
.m-table-list .photo-hd p{float:left;}
.m-table-list .photo-hd .cmp-btn-a{float:right;}


.hide{display:none}

.ico-edit,.ico-del{display:inline-block;width:13px;height:13px;text-indent:-9990px}
.ico-edit{background:url(imgs/ico_2.gif) no-repeat;margin-right:10px;}
.ico-del{background:url(imgs/ico_3.gif) no-repeat;}
.btn-modify{background:url(imgs/btn_1.gif) no-repeat;display:inline-block;width:74px;height:28px;text-align:center;line-height:28px;color:#fff;border:0;cursor:pointer;vertical-align:middle;padding:0}



.field input{height: 18px;line-height: 18px;margin-right: 3px;padding: 3px;vertical-align: middle;width: 177px;color: #9B9B9B; border:1px solid #CBCBCB}
.field .cb{padding:0;border:0;width:auto;height:auto;}
.field .small{width:95px}


/*m-login*/

.m-login .img{float:left;margin-right:70px;}
.m-login  .hd{margin-bottom: -2px;display:none;}
.m-login .login-box{width:377px;float:left;}
.m-login .hd span{height:35px;line-height:35px;text-align:center;background:url(imgs/loginbox_h.gif) repeat-x;display:inline-block;font-weight:bold;font-size:14px;float:left;width:187px;border:1px solid #cacaca;margin-right:-1px;}
.m-login .hd span.on{background:#fff;border-bottom:0}
.m-login label{width:111px;display: inline-block;text-align: center;}
.m-login td{padding:10px 3px;}


.m-login .cha{vertical-align:middle}
.m-login .bd{padding:20px 0px;border:1px solid #cacaca;}
.m-login .btn-login,.m-login .btn-reg{width:87px;height:29px;text-align:center;display:inline-block;cursor:pointer;border:0;line-height:29px;font-weight:bold;}
.m-login .btn-login{background:url(imgs/login_btn_blue.gif) no-repeat;color:#fff;margin-right:15px;}
.m-login .btn-reg{background:url(imgs/login_btn_g.gif) no-repeat;}


.m-menubar{margin:30px 0px 15px 0px;border-bottom:2px solid #3f88cd;}
.m-menubar span{display:inline-block;width:100px;text-align:center;background:url(imgs/tab_bg.png) repeat-x;height:27px;line-height:27px;color:#000;font-weight:bold;font-size:14px;border:1px solid #b7cfe9;border-bottom:0}
.m-menubar span.on{background:url(imgs/tab_on_bg.png);}
.m-menubar span.on a{color:#fff}

.m-user-top{position:absolute;right:0;top:10px;font-size:12px;}


.m-breadcrumb{margin-bottom:20px;margin-top:10px}
.m-breadcrumb .crumb{background:url(imgs/ico-crumb-1.png) no-repeat;width:8px;height:9px;display:inline-block;margin-right:10px;}
.m-breadcrumb i{background:url(imgs/ico-crumb-arr.png) no-repeat;width:11px;height:10px;display:inline-block;margin:0px 10px;}
.m-breadcrumb p{padding-bottom:10px;border-bottom:1px solid #ccc;}

.table-field{width:100%}
.thumb{width:120px;height:120px;margin-right:20px;}



/*m-company-detail*/
.m-company-detail .pLine p {line-height: 25px;margin: 0 0 6px;}
.m-company-detail .cxLab-1 {display: inline-block;font-weight: bold;margin-right: 5px;}
.m-company-detail .xxLab-1 {display: inline-block;text-align: left;width: 100px;}
.m-company-detail .pLine {padding-bottom: 8px;padding-top: 8px;}
.m-company-detail .lineDiv {border-bottom: 1px solid #D5D5D5;padding: 15px 15px 25px 60px;}
.m-company-detail .cxLab-2 {display: inline-block;font-weight: bold;margin-right: 5px;text-align: right;width: 100px;}
.m-company-detail .pad10 {padding-top: 15px;}
.m-company-detail .tupic .s-pic {display: block;padding: 2px;	border:1px solid #ccc;}
.m-company-detail .tupic {float: left;margin-right: 10px;width: 136px;}
.m-company-detail .tupic .s-pic img {height: 125px;width: 125px;	display: block;}
.m-company-detail .tupic {float: left;margin-right: 40px;width: 136px;}
.m-company-detail .tupic .s-txt {display: block;height: 22px;line-height: 22px;text-align: center;}


/*m-company-detail*/

/*m-news-nav*/
.m-news-nav{margin-top:20px;}
.m-news-nav .nav {width: 956px;height: 34px;padding: 2px;background: url(imgs/nav.png);overflow: hidden;}
.m-news-nav .nav li {float: left;width: 82px;padding-left: 5px;text-align: center;background: url(imgs/top_nav.png) no-repeat 0 -289px;}
.m-news-nav  .nav a:visited {color: #fff;}
.m-news-nav  .nav ul {line-height: 31px;margin-left: -2px;}
.m-news-nav  .nav a {color: #fff;}
/*m-news-nav*/

/*m-topnews*/
.m-topnews {float: left;width: 384px;	margin-right:15px;}
.m-topnews .topnews {border: 1px solid #DAE2E9;height: 110px;padding: 0 12px;}
.m-topnews .topnews h4 {height: 38px;line-height: 38px;overflow: hidden;text-align: center;}
.m-topnews .topnews h4 a {color: #CC040D;font-family: '微软雅黑';font-size: 20px;	font-weight:bold;}
.m-topnews .topnews p {height: 66px;line-height: 22px;overflow: hidden;}
.m-topnews .news {border-bottom: 1px solid #DAE2E9;margin: 0 10px;}
.m-topnews .news h4 {height: 44px;line-height: 44px;overflow: hidden;text-align: center;	font-weight:bold;	 font-family: '微软雅黑';}
.m-topnews .news h4 a {color: #4C6DAA;font-size: 18px;}
.m-topnews .news li {background: url(imgs/list-ico.png) no-repeat left 5px;height: 29px;overflow: hidden;padding-left: 10px;}
.m-topnews .news li a {font-size: 14px;	color:#333;}
.m-topnews .news h5 a, .news h4.h501 a {color: #4C6DAA;font-size: 14px;}
.m-topnews .news h5, .news h4.h501 {line-height: 32px;text-align: center;}
.m-topnews .news h4.h501 {color: #4C6DAA;	position:relative;}
.m-topnews .news p {color: #5A5959;height: 48px;line-height: 22px;margin-bottom: 10px;overflow: hidden;}
.m-topnews .no_border { border: medium none;}
.m-topnews .news h5 .red,.news h4.h501 .red{background:rgb(175, 7, 7);color:#fff;font-size:12px;padding:2px;font-weight:normal;font-family:arial;}
/*m-topnews*/

.widget-slide-2 {background: none repeat scroll 0 0 #F3F3F3;height: 280px;margin-bottom: 10px;overflow: hidden;width: 560px;}
.widget-slide {overflow: hidden;position: relative;}
.widget-slide-contents-piclist li {float: left;width: 560px;}
.widget-slide-content-text {padding: 10px;width: 140px;}
.widget-slide-content-text h4 {font-family: "Microsoft YaHei","微软雅黑";font-size: 17px;font-weight: bold;line-height: 25px;overflow: hidden;padding-bottom: 5px;text-align: left;}
.widget-slide-content-text p {clear: both;color: #888888;line-height: 21px;padding-top: 12px;}
.widget-slide .left{float:left;width:auto}
.widget-slide .right{float:right}
.widget-slide-ctrl-nav {display: inline-block;z-index:1;position: absolute;text-align: center;bottom: 20px;left: 400px;width: 160px;}
.widget-slide-ctrl-nav a{text-indent:-9999px;cursor:pointer}
.widget-slide-ctrl-nav .on {background: url(imgs/cbtn_hover.jpg) no-repeat scroll;}
.widget-slide-ctrl-nav a {background: url(imgs/cbtn.jpg) no-repeat scroll;cursor: pointer;display: inline-block;height: 10px;padding: 0 3px;width: 10px;}


/*m-news-two*/
.m-news-two {border: 1px solid #E8E8E8;float: left;margin: 0 0 10px 0px;overflow: hidden;width: 300px;}
.m-news-two h2 {background: url(imgs/m-news-two_h2.png) repeat scroll 0 0 transparent;color: #1F4995;font-size: 14px;font-weight: bold;height: 32px;line-height: 31px;padding-left: 15px;}
.m-news-two h2 {color: #1F4995;font-size: 14px;font-weight: bold;line-height: 31px;}
.m-news-two h2 span {float: right;margin-right: -2px;}
.m-news-two h2 a {color: #1F4995;font-weight: bold;}
.m-news-two h2 span a {  color: #2D2D2D;  font-size: 12px;  font-weight: normal;  padding: 0 12px;}
.m-news-two .n2top {  height: 94px;  margin: 16px 16px 0;}
.m-news-two .n2top img {  float: left;  height: 94px;  margin-right: 10px;  width: 94px;}
.m-news-two .n2top h4 {  height: 24px;  line-height: 24px;  overflow: hidden;}
.m-news-two .n2top h4 a {  color: #1F4995;  font-size: 14px;}
.m-news-two .n2top p {  color: #5A5959;  height: 66px;  line-height: 22px;  overflow: hidden;}
.m-news-two .m2_ul li {  background: url("imgs/main.png") no-repeat scroll 0 -120px transparent;  height: 29px;  overflow: hidden;  padding-left: 16px;}
.m-news-two .m2_ul li a {  font-size: 12px;}
.m-news-two .m2_ul {  line-height: 29px;  margin: 8px 15px;}
/*m-news-two*/


/*m-news-rank */
.m-news-rank {width:250px;float:left;margin-left:10px;overflow:hidden;}
.m-news-rank .right{float:right}
.m-news-rank .blank12 {  clear: both;  display: block;  height: 12px;  overflow: hidden;}
.m-news-rank .wgt-tab-1 .title-bar {  background: #fff;  margin-bottom: 3px;}
.m-news-rank .wgt-tab .ui-til2 {  padding-top: 0;}
.m-news-rank .ui-til2 {  padding-bottom: 9px; }
.m-news-rank .title-bar {  height: 25px;  line-height: 25px;  overflow: hidden;}
.m-news-rank .wgt-tab-1 .title-bar h2 {  float: left;  line-height: 25px;}
.m-news-rank .ui-til2 h2, .ui-til4 h2 {  float: left;  font-family: "Microsoft YaHei","微软雅黑";  font-size: 16px;  height: 29px;  line-height: 29px;  overflow: hidden;}
.m-news-rank .title-bar h2 {  float: left;  font-weight: bold;  line-height: 29px;}
.m-news-rank .wgt-tab .bd {  overflow: hidden;}
.m-news-rank .display-control .current {  display: block;}
.m-news-rank .rankList li {  border-bottom: 1px solid #D3D3D3;  display: inline-block;  float: left;  height: 35px;  line-height: 35px;  overflow: hidden;  width: 320px;}
.m-news-rank .rankList li span.ranknum {  background-color: #CACACA;  border-radius: 10px;  color: #fff;  float: left;  font-family: "Arial";  font-weight: bold;  height: 20px;  line-height: 20px;  margin-top: 7px;  text-align: center;  width: 20px;}
.m-news-rank .rankList li span.front {  background-color: #930000;}
.m-news-rank .rankList li a {  color: #333; float: left;  padding-left: 10px;}
.m-news-rank .newsList li .more {  color: #930000;  font-family: "Arial";  font-style: italic;  padding-right: 3px;}
.m-news-rank .rankList li.last {  border: medium none;}
/*m-news-rank */

.m-register .hd{background:#f6fafb;height:95px;position:relative;}
.m-register .bt{height:7px;background:url(imgs/reg_hd_bg.png) repeat-x;position:absolute;bottom:0px;left:0;width:100%}
.m-register .btn-reg{background:url(imgs/btn_reg.gif) no-repeat;width:165px;height:45px;display:inline-block;color:#fff;text-align:center;line-height:45px;font-weight:bold;padding:0px;border:0;cursor:pointer;}
.m-register td{padding:10px 3px;}
.m-register .bd{padding:20px;}
.m-register p{margin-top:10px;}
.m-register a{color:#206f96;}
.m-register a:hover{text-decoration:none;color:orange;}
.m-register  .flow{background:url(imgs/reg_flow.gif) no-repeat;width:600px;height:49px;position:absolute;top:35px;left:210px;}
.m-register  .flow .on{color:#206f96}
.m-register  .flow  li{position:absolute;top:-20px;font-size:14px;}
.m-register  .flow .step-1{left:-15px}
.m-register  .flow .step-2{left:265px}
.m-register  .flow .step-3{left:520px}
.m-register  .flow .reg-ok{background:url(imgs/reg_ok.png) no-repeat;width:24px;height:24px;display:block;position:absolute;top:33px;left:28px;display:none;}
.m-register  .flow .on .reg-ok{display:block;}
.m-register  .flow .step-2 .reg-ok{left:29px;}
.m-register  .flow .step-3 .reg-ok{left:12px;}
.m-register .bd .step-3{padding:30px 30px 300px}
.m-register .bd .step-3 .msg{color:green; font-family: "Microsoft YaHei","微软雅黑";  font-size: 22px;margin-bottom:30px;}
.m-register .btn-modify{color:#fff;}
.m-register .bd .step-3 a{margin-right:10px;}
.m-register .success-1 i {
  background: url("imgs/icon.gif") no-repeat scroll 0 0 transparent;
  float: left;
  height: 40px;
  line-height: 30px;
  margin-right: 20px;
  width: 48px;
}

.pw-bar {
    background-color: #5a7387;
    height: 14px;
    overflow: hidden;
    transition: all 0.4s linear 0s;
    width: 0;
}
.pw-weak .pw-bar {
    width: 60px;
}
.pw-strong .pw-bar {
    width: 182px;
}
.pw-medium .pw-bar {
    width: 121px;
}
.pw-strength {
    background-color: #cfc6bd;
    height: 14px;
    margin-top: 3px;
    overflow: hidden;
    position: relative;
    width: 183px;
}
.pw-letter {
    left: 0;
    position: absolute;
    top: 0;
}
.pw-strength span {
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: inline;
    float: left;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    width: 60px;
}


/*m-news-focus*/
.m-news-focus .title-bar {  height: 25px;  line-height: 25px;  overflow: hidden;}
.m-news-focus .ui-til1 {  height: 43px;  line-height: 43px;}

.m-news-focus .ui-til1 h2 {  border-bottom: 5px solid #333;  float: left;  font-family: "Microsoft YaHei","微软雅黑";  font-size: 16px;  height: 38px;  line-height: 37px;  overflow: hidden;  width: 239px;}

.m-news-focus .ui-til1 .links {  border-bottom: 5px solid #044C82;  height: 38px;  line-height: 37px;  width: 100%;}
.m-news-focus .ui-til1 .links .more {  color: #ddd;  padding-top: 7px;}
.m-news-focus .ui-til1 .more .current, .m-news-focus .ui-til1 .more a:hover {  background: none repeat scroll 0 0 #373737;  border-radius: 13px 13px 13px 13px;  border-right: 0 none;  color: #F1F1F1;  position: relative;  text-decoration: none;}
.m-news-focus .ui-til1 .more a {  border-right: 1px solid #ddd;  color: #252525;  font-size: 14px;  padding: 0 15px;}
.m-news-focus .ui-til4 {  padding: 5px 0 4px;}

.m-news-focus .ui-til2 h2, .ui-til4 h2 {  float: left;  font-family: "Microsoft YaHei","微软雅黑";  font-size: 16px;  height: 29px;  line-height: 29px;  overflow: hidden;}
.m-news-focus .title-bar .more {  float: right;  line-height: 29px;}
.m-news-focus .more a, .more a:visited {  color: #888;  font-size:12px;}
.m-news-focus .cLGray {  color: #ddd;}
.m-news-focus h3.bigsize {  font-family: "Microsoft YaHei","微软雅黑","宋体";  font-size: 16px;  font-weight: bold;  height: 24px;  line-height: 24px;  margin: 10px 0 6px;  overflow: hidden;}
.m-news-focus .main-list li { background:url("imgs/list-ico.png") no-repeat scroll left center transparent;clear: both;  font-size: 14px;  height: 28px;  line-height: 28px;  padding-left: 9px;}
.m-news-focus .mod{width:310px;float:left;margin-right:10px;}
.m-news-focus .fB {    font-weight: bold;}
#p_news_index .layout-left{width:700px;}
#p_news_index .m-banner{margin:0;}


/*m-supply-news*/
.m-supply-news .hd span{float:left;display:inline-block;padding:0 10px;text-align:center;background:#206f96;height: 30px; line-height:30px; position: relative;z-index: 1;}
.m-supply-news .hd span i{position:absolute;left:45%;bottom:-4px;width:7px;height:4px;background:url(imgs/blue_d_aw.gif) no-repeat;font-size:0;display:block;}
.m-supply-news .hd span a{font-weight:bold;color:#fff;font-size:14px;}
.m-supply-news .hd{margin-bottom:5px;}
.m-supply-news .bd{background:#e2e2e2;padding:10px;}
.m-supply-news li{padding-left:10px;background:url(imgs/gray_dot.gif) no-repeat left center;margin-bottom:5px;}


/*m-suppy-topnews*/
.m-suppy-topnews .topnews {background: url(imgs/topnews.png) repeat scroll 0 0 transparent;border: 1px solid #DAE2E9;height: 110px;padding: 0 12px;}
.m-suppy-topnews .topnews h4 {height: 38px;line-height: 38px;overflow: hidden;text-align: center;}
.m-suppy-topnews .topnews h4 a {color: #CC040D;font-family: '微软雅黑';font-size: 20px;	font-weight:bold;}
.m-suppy-topnews .topnews p {height: 66px;line-height: 22px;overflow: hidden;}
.m-suppy-topnews .ad{text-align:center;margin:10px 0}
.m-suppy-topnews .ad a{width:410px;height:58px;}
.m-suppy-topnews .news{padding:5px;border-bottom:1px dotted #ccc;overflow:hidden;padding-top:15px}
.m-suppy-topnews .img{float:left;width:108px;}
.m-suppy-topnews .list{margin-left:120px;}
.m-suppy-topnews .list a{font-size:14px;}
.m-suppy-topnews .list li{margin-bottom:5px;background:url(imgs/blue_dot.gif) no-repeat left center;padding-left:10px;}
.m-suppy-topnews .list em{color:#206f96;font-weight:bold}
.m-suppy-topnews .last{border:0}


/*m-supply-mt*/

.m-supply-mt{background:url(imgs/sy_210_top.gif) no-repeat left top #f6f6f6;padding:10px;}
.m-supply-mt .hd h5{font-size:14px;font-weight:bold;}
.m-supply-mt .hd .ad{margin:15px 0 5px 0;display:block;}
.m-supply-mt .bd em{color:#b2b2b2;font-weight:bold;margin-right:5px;}
.m-supply-mt .bd .top em{color:#03496b}
.m-supply-mt .bd{margin-bottom:10px;}
.m-supply-mt .bd li{margin-bottom:10px;}
.m-supply-mt .ft .ad{width:73px;height:62px;float:left;}
.m-supply-mt .ft .item{overflow:hidden;margin-bottom:10px}
.m-supply-mt .ft p{margin-left:80px;padding:5px;background:white;border:1px solid #ccc;position:relative;}
.m-supply-mt .ft p i{position:absolute;left:-5px;top:7px;background:url(imgs/suppy_arr.gif) no-repeat;display:block;width:5px;height:7px;}
.m-supply-mt .ft p a{color:#206f96;display:block;}


.xh-col-r{width:705px; float:left;}
.chooseBox { background:#fcfcfc; border:1px solid #e6e6e6;}
.chooseBox .getParam {padding:4px 0px 4px 0px; border-bottom:1px solid #e6e6e6; overflow:hidden;}
.chooseBox .getParam a {color:#36c;font-style:normal;}
.chooseBox .getParam a:hover { text-decoration:underline; color:#F03;}
.chooseBox .getParam .dateTitle{ width:60px; float:left; text-align:right; font-weight:bold;padding-right:8px;}
.getParam .getBox .chooseDate {width: 555px;overflow:hidden; float:left;}
.getParam .getBox .chooseDate a.selected{background-color:#FFEEA9;font-weight:bold;color:#D83F03;}
.getParam .getBox .chooseDate dl dd{ margin-bottom:3px;word-break: break-all;word-wrap:break-word;}
.getParam .getBox .chooseDate .collspan{height:18px;overflow:hidden;}
.chooseBox .getParam dl dd i {
    height: 17px;
    margin-bottom: 0;
    margin-left: 3px;
    *margin-left: 1px;
    margin-right: 3px;
    margin-top: 0;
}
.getParam .getBox{ overflow:hidden; height:100%;}
.getParam .moreOpen{height: 20px;text-align: right;width:46px; background:url(imgs/gtxhzykIco.png) no-repeat 0 3px; float:left;display:none;}
.chooseBox .getParam em { float:left;padding:0 5px;margin-left: 5px; background:#fcecc7; border:1px solid #d89f31;}
.chooseShow { background:#f2f2f2; padding:6px 10px; margin-top:4px; height:100%; overflow:hidden;}
.chooseShow span{ background:#FFF; border:1px solid #e6e6e6;padding: 4px 20px 4px 6px;position: relative; float:left; display:block;margin-right:2px;}
.chooseShow .youSce{ float:left; margin-right: 14px; padding-top: 4px;}
.chooseShow span em { background:url(imgs/gtxhzykIco.png) no-repeat 0 -23px;cursor:pointer; width:13px; height:14px;display:block; position: absolute;right: 4px; top: 7px; }
.chooseBox .getParam .moreShow{padding-left:60px;_padding-left:62px;}
.chooseBox .headTitle{background-color:#f5f7f9;width:53px;font-weight:bold;}
.chooseBox .headspan{background:url(/content/images/zykSearch0919.png) no-repeat right center;width:7px;}

.searchForm { padding:0px; border:1px solid #e6e6e6; margin-bottom:4px; position:relative;  overflow:hidden;}
.searchForm .searchBt{ width:54px; height:20px; background:url(imgs/gtxhzykIco.png) no-repeat 0 -120px; text-align:center; line-height:20px; position:absolute; top:11px; right:20px;}
.searchForm .sfHead{background-color:#f5f7f9;width:53px;font-weight:bold;height:45px;}
.searchForm .headSpan{background:url(imgs/zykSearch0919.png) no-repeat right center;width:7px;}
.searchForm .sfInputBox label{ margin:0 3px;}
.searchForm .searchBt a{ color:#FFF;}
.searchDateList {margin-top: 4px;}
.searchDateList .zykDateTab{ text-align:center; border:1px solid #E6E6E6; margin-bottom: 10px}
.zykDateTab tbody td{ border-bottom:1px solid #CCC; padding:4px 0;_padding:4px 0;*padding:4px 0;cursor:pointer;color:#003333;line-height:20.5px;}
.zykDateTab tbody .noborder td{ border-bottom:none;white-space:nowrap;overflow:hidden;}
.zykDateTab tbody .noborder td a { color:#003333;white-space:nowrap;overflow:hidden;}
.zykDateTab thead tr th{ background:url(imgs/gtxhzykX.png) repeat-x 0 -111px; padding:4px 0; color:#930; font-weight:bold;}



.xh-col-l{ float:left;width:244px;overflow:hidden;margin-right:10px}
.sdTop .btBox ul li{display:block; width:115px; height:33px;background:url(imgs/gtxhzykX.png) repeat-x 0 -73px; border-top: 1px solid #CCC;border-left: 1px solid #CCC;border-right: 1px solid #999;border-bottom: 1px solid #999;box-shadow:0 0 1px #ccc;text-align:center;}

.sdTop .btBox ul .btLf{ float:left;}
.sdTop .btBox ul .btRg{ float:right;}
.sdTop .btBox a{ font-size:14px; font-weight:bold;line-height:33px; color:#333; font-family:"Microsoft YaHei",Tahoma, Geneva, sans-serif,"宋体"; }
.sdTop .btBox a:hover{ color:#666;}
.sdTop .btBox{ width:244px; overflow:hidden; padding-bottom:7px;}
.txtAd { padding-right:1px; margin-top:5px;}
.txtAd .txtadHd{ border:1px solid #fc9; border-bottom:none; padding:10px; padding-bottom:0px;}
.txtAd .txtadBt{ height:16px;background:url(imgs/gtxhzykIco.png) no-repeat 0px -92px;}
.txtAd .phone{background:url(imgs/phone.gif) no-repeat}
.txtAd .txtadHd h2 { margin-bottom:4px;}
.txtAd .txtadHd h2 strong ,.txtAd .txtadHd a{ color:#a64905; line-height:18px;}
.txtAd .txtadHd a:hover{color:#06c;}
.txtadHd .txtadCt p .webSite{ color:#630;}
.txtadHd .txtadCt{height:74px;overflow:hidden;}


.companeyImfor *{line-height:23px;font:12px/1.5 tahoma,arial,"宋体";}
.companeyImfor table{ margin-left:auto; margin-right:auto; margin-top:10px; width:360px; height:120px}
.tjdiv{width:700px;}
.tjdiv div{float:left;width:140px;}
.tjdiv span{color:Red;}
.sourceContainer tr{height:35px;}
.specialRow div{color:#FF5A00;font-weight:bold;}
.specialRow a{color:#FF5A00;}
.specialRow a:visited{color:#FF5A00;}

.search-Date-show{border: 1px solid #ccc;}
.sds-size-0,.sds-size-1,.sds-size-2,.sds-size-3,.sds-size-4,.sds-size-5,.sds-size-6,.sds-size-7,.sds-size-8,.sds-size-9{display:inline-block;float:left;text-align: center;overflow:hidden;}
.sds-size-0{width:245px;padding-left:3px;}
.sds-date-list li .sds-size-0 {text-align:left;padding-left:3px;}
.sds-size-1{width:190px;}
.sds-date-list li .sds-size-1 {text-align:left;padding-left:3px;}
.sds-size-2{width:37px;}
.sds-size-3{width:97px;}
.sds-size-4{width:40px;}
.sds-size-5{width:76px;}
.sds-size-6{width:40px;}
.sds-size-7{width:51px;}
.sds-size-8{width:58px;}
.sds-size-9{width:65px;}
.sds-top h4,.searchDateList th{background: url(imgs/gtxhzykX.png) repeat-x scroll 0 -111px transparent;color: #993300;height:27px;text-align:center}
.searchDateList td{padding:7px 5px;}
.sds-top h4 span{height:22px;padding-top:3px;}
.sds-date-list li span{padding:5px 0;color:#033;}
.sds-date-list li{overflow:hidden;border-bottom: 1px solid #ccc;vertical-align: bottom;}
.searchDateList tr.odd{background:rgb(245, 239, 234)}
.sds-date-list .no-border{border-bottom: 1px solid #fff;}

.pager-bar-container{font-size:12px;line-height:22px;height:22px;font-weight:bold;}
.pager-bar-container a{color:Blue;cursor:pointer;margin-left:5px;text-decoration:none;font-weight:bold;}
.pager-bar-container a:hover{color:Red;text-decoration:underline;}
.pager-bar-container .disabled{color:Gray;cursor:text;}
.pager-bar-container .text{margin-right:5px;}
.pager-bar-loading{display:none;line-height:22px;height:22px;}
.pager-bar-loading img{vertical-align:middle;margin-right:8px;}
.pager-bar-loading.refresh{border:none;vertical-align:middle;margin-top:4px;margin-left:4px;cursor:pointer;}

.hq-col-r{width:700px;float:left;}
.hq-col-l{width:250px;float:left;overflow:hidden;margin-right:10px }

.m-hq-dq {  border: 1px solid #DEDEDE;  margin-bottom: 10px;  padding-bottom: 12px;}
.m-hq-dq h1 a {  color: red; }
.m-hq-dq ul {  margin: 0 15px;}
.m-hq-dq h1 {  background: url("imgs/sidebar_bg.png") no-repeat scroll 0 0 transparent;  border-bottom: 1px solid #DEDEDE;  color: red;  height: 30px;  line-height: 30px;  margin-bottom: 10px;  padding-left: 25px;  text-align: left;   font-size:14px;  font-weight:bold;}
.m-hq-dq ul li {  background: url("imgs/dot.png") no-repeat scroll left center transparent;  height: 25px;  line-height: 25px;  overflow: hidden;  padding-left: 10px;  text-align: left;}
.m-hq-dq ul li span {  color: #808080;  float: right;}
.m-hq-dq h2.ico-close {background: url("imgs/sidebar_bg01.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;}
.m-hq-dq h2 {  color: #2F2F2F;  height: 22px;  margin: 5px 14px;  overflow: hidden;  padding: 4px 0 0 27px;  text-align: left;  width: 199px;}
.m-hq-dq p .dqd a {  color: red;  font-weight: bold;  text-decoration: none;}
.m-hq-dq p a, .m-hq-dq p span {  display: inline-block;  height: 25px;  line-height: 25px;  overflow: hidden;  text-align: center;  text-decoration: none;  width: 59px;}

.m-hq-news {background: none repeat scroll 0 0 #FFFFFF;  float: left;  height: 210px;  padding-top: 5px;  position: relative;  width: 345px;  margin-right:10px;}
.m-hq-news h1 {background: url("imgs/news_bg.png") no-repeat scroll left top transparent;  height: 34px;  text-align: left;}
.m-hq-news h1 a {background: url("imgs/zjgd_bg.png") no-repeat scroll 0 0 transparent;  display: inline-block;  height: 34px;  line-height: 28px;  text-align: center;  width: 77px;  font-weight:bold;  font-size:14px;}
.m-hq-news h1 a.on {background: url("imgs/gsyb_bg.png") no-repeat scroll 0 0 transparent;  color: #FFFFFF;}
.m-hq-news  .ck-news {left: 0;  top: 5px;  width: 331px;}
.m-hq-news .con {padding-top: 5px;  text-align: left;}
.m-hq-news .con h2 {color: red;  font-size: 16px;  text-align: center;}
.m-hq-news .con h2 a {color: red;font-weight:bold}
.m-hq-news .con span.article2 {  color: #A0A0A0;  display: block;  height: 40px;  line-height: 21px;  margin-bottom: 5px;  overflow: hidden;  text-indent: 2em;}
.m-hq-news .con ul li {  background: url("imgs/dot.png") no-repeat scroll left center transparent;  height: 24px;  line-height: 24px;  padding-left: 10px;}


.m-jrbj h1 a {  background: url("imgs/jrbj_bg.png") no-repeat scroll 0 0 transparent;  color: #FFFFFF;  display: block;  height: 28px;  line-height: 28px;  text-align: center;  width: 92px;  font-weight:bold}
.m-jrbj table th {  border-bottom: 1px solid #EFEFEF;}
.m-jrbj table {  margin: 10px;}
.m-jrbj {  border: 1px solid #DADADA;  float: left;  width: 343px;}
.m-jrbj h1 {  background: url("imgs/tit_bg.png") repeat-x scroll 0 0 transparent;  height: 30px;  text-align: left;  font-size:14px;}


.m-hq-box {  border: 1px solid #DEDEDE;  margin-bottom: 5px;}
.m-hq-box h1 {  background: url("imgs/hq_bg.png") no-repeat scroll 0 0 transparent;  border-bottom: 1px solid #DADADA;  height: 27px;  line-height: 27px;  text-align: left;}
.m-hq-box .hq-con {  height: 195px;}
.m-hq-box .fb {  color: #DADADA;  font-size: 12px;  font-weight: normal;  padding-left: 15px;}
.m-hq-box .fb a {  font-size: 12px;  font-weight: normal;}
.m-hq-box .hq-con ul li a {  display: inline-block;  height: 23px;  overflow: hidden;  width: 285px;}
.m-hq-box .hq-con ul li span {  color: #808080;  float: right;}
.m-hq-box .jg {  background: url("imgs/line.png") no-repeat scroll right center transparent;  float: left;  padding: 8px;  width: 330px;}
.m-hq-box .jg h2 {  color: red;  font-size: 12px;  height: 27px;  line-height: 27px;  text-align: left;}
.m-hq-box h1 a.bt {  color: #fff;  display: inline-block;  text-align: center;  width: 134px;  font-weight:bold;  font-size:14px;}
.m-hq-box .hq-con ul li {  background: url("imgs/dot.png") no-repeat scroll left center transparent;  height: 23px;  line-height: 23px;  overflow: hidden;  padding-left: 10px;  text-align: left;}
.m-hq-box .fp h2 a {  display: inline-block;  font-size: 12px;  height: 27px;  line-height: 22px;  margin: 0 21px;  text-align: center;  width: 67px;font-weight:bold;}
.m-hq-box .on {  background: url("imgs/fp_bg.png") no-repeat scroll 0 0 transparent;  color: red;}
.m-hq-box .fp {  float: right;  overflow: hidden;  padding: 10px;  width: 327px;}
.m-hq-box .fp h2 {  background: url("imgs/fq_bg01.png") repeat-x scroll 0 0 transparent;}

.m-jxs {  border: 1px solid #DEDEDE;  height: 194px; overflow: hidden;}
.m-jxs h1 {  background: url("imgs/gcjxs_bg.png") no-repeat scroll 0 0 #fbfbfb;  border-bottom: 1px solid #DADADA;  height: 27px;  line-height: 27px;  text-align: left;}
.m-jxs h1 a.bt {  color: red;  display: inline-block;  text-align: center;  width: 134px;  font-weight:bold;  font-size:14px}
.m-jxs .jxs-con {  margin: 0 auto;  padding:10px;}
.m-jxs .jxs-con ul li {  height: 23px;  line-height: 23px;  overflow: hidden; float: left;  margin-right: 50px;  overflow: hidden;  text-align: left;  width: 170px;}



.m-suppy-list{}
.m-suppy-list .left_table {
  border-collapse: collapse;
}


.m-suppy-list .left_table th {
  background: url("imgs/left_th.png") repeat scroll 0 0 transparent;
  border: 1px solid #EDEDED;
  color: #004098;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
}
.m-suppy-list .left_table td {
  color: #807C7C;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
}
.m-suppy-list .left_table td {
  border: 1px solid #EDEDED;
  color: #807C7C;
  cursor: pointer;
  line-height: 30px;
  padding: 0 5px;
  text-align: center;
}
.m-suppy-list .left_table .td02 {
  color: #333333;
}
.page a ,ul.yiiPager a:link {
  background: none repeat scroll 0 0 #F8F8F8;
  border: 1px solid #D8E8F4;
  color: #003964;
  display: block;
  font-size:12px;
  float: left;
  margin-right: 7px;
  padding: 0 9px;
}
.page a:hover,.page .page_cur ,ul.yiiPager a:hover{
  background: none repeat scroll 0 0 #1467C0;
  border: 1px solid #1467C0;
  color: #FFFFFF;
}
.page ,ul.yiiPager li{
  height: 25px;
  line-height: 22px;
  margin: 10px auto;
}

.m-suppy-list .art_gyxx{background: rgb(236, 236, 236);height: 30px;width: 100%;}
.m-suppy-list h2 span{float:left;display:inline-block;padding:0 10px;text-align:center;background:#206f96;height: 30px; line-height:30px; position: relative;z-index: 1;}
.m-suppy-list h2 span i{position:absolute;left:45%;bottom:-4px;width:7px;height:4px;background:url(imgs/blue_d_aw.gif) no-repeat;font-size:0;display:block;}
.m-suppy-list h2 span a{font-weight:bold;color:#fff;font-size:14px;}


.m-news-list h2 {
  background: url("imgs/list_h2.png") repeat scroll 0 0 transparent;
  color: #328CC6;
  font-family: 'microsoft yahei','simsun';
  font-size: 18px;
  height: 38px;
  line-height: 38px;
  font-weight:bold;
  overflow: hidden;
  padding-left: 20px;
}
.m-news-list {
  border: 1px solid #DAE2E9;
}
.m-news-list ul {
  line-height: 36px;
  margin: 15px 50px;
}

.m-news-list li {
  background: url("imgs/main.png") no-repeat scroll 0 -120px transparent;
  height: 36px;
  overflow: hidden;
  padding-left: 20px;
}
.m-news-list li span{
	float:right;
}
.m-rel-news a{color:#004276}

.m-rel-news  .hd{
  border-bottom: 1px solid #D0D4D9;
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  width: 100%;
}
.m-rel-news h4 {
  color: #212121;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}
.m-rel-news li {
  float: left;
  height: auto;
  width: 318px;
  background: url("imgs/iconzy_03.gif") no-repeat scroll left center transparent;
  line-height: 30px;
  overflow: hidden;
  padding-left: 12px;
}
.m-rel-news strong{font-weight:bold}

#pic_box .bd{overflow:hidden;}
#pic_box li{width:100px;float:left;margin-right:10px;margin-bottom:10px;cursor:pointer}
#pic_box li img{width:100px;height:100px;border:2px solid #ccc;display:block;}
#pic_box li p{text-align:center}
#pic_box li:hover img,#pic_box li.selected img{border:2px solid orange}
#pic_box .ft .page{float:right;}


.m-tjxx {  border: 1px solid #C5C5C5;}
.m-tjxx h2 {  background: none repeat scroll 0 0 #EDEDED;  color: #3E3E3E;  font-size: 12px;  line-height: 23px;  padding: 0 10px;}

.m-tjxx h2 span {  float: right;}
.m-tjxx h2 a {  color: #979797;  font-weight: normal;}

.m-tjxx ul { line-height: 32px;  margin: 5px 15px;  overflow: hidden;}
.m-tjxx li {  border-bottom: 1px solid #E9E9E9;  color: #807C7C;  font-size: 0;  height: 32px;  overflow: hidden;}
.m-tjxx .tj01 {  width: 72px;}
.m-tjxx .tj02 {  text-align: center;  width: 65px;}
.m-tjxx .tj03 {  text-align: center;  width: 70px;}
.m-tjxx .tj04 {  text-align: right;  width: 48px;}
.m-tjxx li span {  display: block;  float: left;  font-size: 12px;  margin: 0;  overflow: hidden;}

.m-gc-ad{margin:10px 0px;}
.cgal {  border: 1px solid #C5C5C5;}
.cgal h2 {
  background: none repeat scroll 0 0 #EDEDED;  color: #3E3E3E;  font-size: 12px;  line-height: 23px;  padding: 0 10px;}
.cgal h2 span {  float: right;}
.cgal ul {  margin: 5px 10px;  overflow: hidden;}
.cgal li {  background: url("imgs/ico.png") no-repeat scroll 0 -450px transparent;  border-bottom: 1px solid #f2f2f2;  height: 32px;  line-height: 32px;  overflow: hidden;  padding-left: 12px;}
.cgal li a {  color: #333333;}
.m-qgxx {  height: 604px;  overflow: hidden;  width: 663px;}
.m-qgxx h2 {  background: url("imgs/ico.png") no-repeat scroll 0 -1218px transparent;  border-bottom: 1px solid #004098;  height: 35px;  line-height: 35px;  text-align: right;  text-indent: -9999px;}
.m-qgxx h2 a {  color: #004098;  font-size: 12px;  font-weight: normal;}
.m-qgxx h2 em {  display: none;}
.qgxx_main {  height: 567px;  margin: 8px 0;  overflow: hidden;  position: relative;}
.qgxx_main dt {  font-size: 14px;  line-height: 20px;  margin: 0;}
.qgxx_main dd {  border-bottom: 1px solid #E8E8E8;  color: #7296C7;  line-height: 25px;  margin: 0 0 5px;}
.qg_info {  float: right;}
.qgxx_main dd {  color: #7296C7;  line-height: 25px;}
.qgxx_main dd a {  color: #7296C7;}

.halftransp {  background: url("imgs/halftransp.png") repeat scroll 0 0 transparent;  height: 45px;  left: 0;  position: absolute;  top: 520px;  width: 663px;}


.m-gyxx {  margin-top: 20px;}
.m-gyxx h2 {  background: url("imgs/ico.png") no-repeat scroll 0 -1260px transparent;  border-bottom: 1px solid #004098;  height: 25px;  line-height: 25px;  text-align: right;}
.m-gyxx ul {  line-height: 32px;  margin: 10px;}
.m-gyxx li {  border-bottom: 1px solid #E9E9E9;  color: #807C7C;  font-size: 0;  height: 32px;  overflow: hidden;}
.m-gyxx li span {  display: block;  float: left;  font-size: 12px;  height: 32px;  overflow: hidden;}
.m-gyxx .gy01 {  width: 190px;}
.m-gyxx .gy02 {  text-align: center;  width: 107px;}
.m-gyxx .gy03 {  text-align: center;  width: 110px;}
.m-gyxx .gy04 {  text-align: center;  width: 65px;}
.m-gyxx .gy05 {  text-align: center;  width: 78px;}
.m-gyxx .gy06 {  text-align: right;  width: 42px;}
.m-gyxx h2 a {  color: #004098;  font-size: 12px;  font-weight: normal;}
.m-gyxx h2 em {  display: none;}
div.errorMessage{color:red;font-style:italic;}
.map1 {
  background: url("imgs/map_05.jpg") no-repeat scroll 0 0 transparent;
  position:absolute;
  height: 33px;
  width: 122px;
  left:204px;
  top:35px;
}
.m-map{margin-top:10px;}
.m-map .hd{background:#3E91E1;height:5px;}
.m-map .bd{}
.m-map .tab2 {
  background: none repeat scroll 0 0 #DEECFA;
  border: 1px solid #ADC3DA;
  height: 30px;
  margin: 10px;
  text-align: center;
  width: 86px;
}
.m-map .tab2font {
  color: #002353;
  font-size: 14px;
  font-weight: 900;
  line-height: 30px;
}
.m-map .line2 {
  border-bottom: 1px dotted #333333;
  line-height: 24px;
  padding: 5px;
  text-align: left;
}
.m-map .line1 {
  border-bottom: 1px dotted #333333;
}
.m-map .line2 li {
  display: inline;
  list-style-type: none;
  margin: 0 5px 0 7px;
  text-align: left;
}
.page, ul.yiiPager li{display:inline}

.m-info table{border-bottom:1px dotted #ccc;margin-bottom:20px;}
.m-info .label{font-weight:bold;}
.m-info td{padding:5px;}
.m-info .info {
  border: 1px solid #CCCCCC;
  display: inline-block;
  line-height: 25px;
  margin-top: 7px;
  padding: 5px;
  vertical-align: top;
  width: 600px;
}
.m-info li{line-height:30px;margin-bottom:10px;}
.m-info .item{display:inline;margin-right:50px;}
.m-info ul{border-bottom:1px dotted #ccc;padding-bottom:20px;margin-top:20px;}
.m-info .item label {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  width: 65px;
}
.m-info .pic{border:0;overflow:hidden}
.m-info .pic .item{width:150px;text-align:center;float:left;}
.m-info .pic p{display:block;text-align:center;}
.m-info .pic li{margin:0 auto;width:80%}
